<html xmlns:th="http://www.thymeleaf.org" 
layout:decorate="www/layout/base">

<head  th:replace="~{/www/layout/base.html :: head}"></head>


<header th:replace="~{www/layout/components/Menu :: Menu}">
          
</header>
<main layout:fragment="content" class="container mt-5 contenido"> 
    <h2 class="text-center">Formulario de Contacto</h2>
    <form class="bg-light p-4 rounded shadow-sm">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="apellidos" class="form-label">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required placeholder="correo@ejemplo.com">
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" class="form-control" required placeholder="+34 123 45 67 89">
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Razones y datos de interés para contactar:</label>
            <textarea class="form-control" placeholder="Tu mensaje" rows="4" name="mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="reset" class="btn btn-secondary">Borrar</button>
    </form>
    <a href="/" class="fixed-button btn">Inicio</a>

</main>

<footer th:replace="~{www/layout/components/Footer :: FooterBase}">
</footer>
