<!DOCTYPE html>
<!-- xmls:layout indicamos que esta plantilla va  a ser heredad-->
<html 
xmls:th="http://www.thymeleaf.org"
xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout"
lang="es-ES">
<head lang="es-ES">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio YM</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.CSS">
    <link rel="stylesheet" type="text/css" href="/static/css/form.CSS">
    <link rel="stylesheet" type="text/css" href="/static/css/CSS_General.CSS">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/favicon.png">
    <!--tailwind-->
 <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <header th:insert="www/layout/components/header :: HeaderBase">
        </header>
        
        <main layout:fragment="MainBaseP">
            
        </main>

<!--Boton que lleva al inicio de la pagina-->
<a layout:fragment="BotonInicio" href="/a" class="fixed-button">Inicio</a>
        <footer>
            <h5 layout:fragment="FooterBase">
                Youssef Miftah El Baze
            </h5>
        </footer>
</body>
</html>