<!DOCTYPE html>
<!-- xmls:layout indicamos que esta plantilla va  a ser heredad-->
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
lang="es-ES">
<head th:fragment="head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/CSS_General.CSS">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youssef Miftah El Baze</title>

    </head>
    <body>

        <header th:replace="www/layout/components/Menu :: HeaderP">
          
        </header>
        
        <main th:fragment="content" > 
            
        </main>

        <footer th:replace="www/layout/components/Footer :: FooterBase">
                
            
        </footer>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>