<!-- componente complejo-->
<footer th:fragment="FooterBase" class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
        <p class="mb-0">Youssef Miftah El Baze</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="text-white">Inicio</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Formulario</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Tabla</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Contactos</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Galeria</a></li>
        </ul>
    </div>
</footer>
