<header th:fragment="HeaderEj1">

  <nav class="nav-extended blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img href="/static/images/favicon.png">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i>qoba</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="tab"><a class="active" href="/uy">Inicio</a></li>
        <li class="tab"><a class="active" href="/qSomos">Qsomos</a></li>
        <li class="tab"><a class="active" href="/productos">Productos</a></li>
        <li class="tab"><a class="active" href="/productos/listar">Gamas</a></li>
      </ul>
 
    </div>
    <div class="nav-content">
      <ul class="sidenav" id="mobile-demo">
        <li class="tab"><a class="active" href="/uy">Inicio</a></li>
        <li class="tab"><a class="active" href="/qSomos">Qsomos</a></li>
        <li class="tab"><a class="active" href="/productos">Productos</a></li>
        <li class="tab"><a class="active" href="/productos/listar">Gamas</a></li>
      </ul>
    </div>
  </nav>

</header>